@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<hr />

<p>The main purpose of this application is to assist in the SOFT806 individual assignment.</p>

