@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4"><i><b>Cheers</b></i></h2>
    <hr />
    <p style="text-align:center; font-size:large; font-family:'Times New Roman'" >Hi there, Welcome to the identity web application. </p>
    <br />
    <p style="text-align:center; font-size:large; font-family:'Times New Roman'">Where you can sign up as a new user and then login to view your details. </p>
    <br />
    <p style="text-align:center; font-size:large; font-family:'Times New Roman'">This ASP.NET Web application is used for testing purpose for the course SOFT806 Aiisgnment. </p>

</div>
